/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h2,
.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.error,
.success-message,
.loading,
.error-message {
  text-align: center;
  font-size: 16px;
  color: #f44336;
  margin-top: 50px;
}

.success-message {
  color: #4caf50;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* 직원 등록 폼 */
.container {
  max-width: 800px;
  min-width: 570px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center; /* 가로 중앙 정렬 */
}

@media (max-width: 769px) {
  .container {
    padding: 10px;
  }
}
.detail-container {
  max-width: 600px;
  min-width: 300px;
  min-height: 520px;
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}@media (max-width: 769px) {
  .detail-container {
    padding: 10px;
  }
}

.employee-regi-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

label {
  max-width: 50%;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input,
select {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

}

input:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.submit-button,
.save-button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  text-align: center;
  float: right;
  flex-shrink: 0;
}

.submit-button:disabled,
.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled),
.save-button:hover:not(:disabled) {
  background-color: #ccc;
}

.action-button {
  padding: 0.4rem 0.8rem;
  background-color: #007bff;
  margin: 20px 0;
  width: 5rem;
  color: white;
  border: none;
  border-radius: 4px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}
 .action-button:hover {
    background-color: #0056b3;
    color: white;
  }

/* 테이블 */
table {
  width: auto;
  min-width: 100%; /* 화면 너비를 넘지 않도록 제한 */
  margin: 20px auto; /* 중앙 정렬 */
  border-collapse: collapse;
  overflow-x: auto; /* 스크롤 가능 */
}

.table th,
.table td,
table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* 버튼 컨테이너 */
.button-container {
  text-align: right;
  margin-top: 20px;
}

/* 로딩 및 오류 메시지 */

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* 셀(CellLeft, CellRight) 스타일 */

.detailsTable {
  display: table;
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
.tablerow {
  display: table-row;
}
.cell-right {
  display: table-cell;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
  width: 70%;
}

.cell-left {
  display: table-cell;
  padding: 0.8rem 1rem;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: left;
  width: 30%;
}

.total-amount {
  width: 100%;
  justify-content: center;
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 (중앙 정렬) */

}

.year-container{
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 (중앙 정렬) */
  gap: 10px; /* 요소 간 간격 */
  justify-content: center;
  width: 100%;

}



